<div class="slide-carousel-formulaire ">
	<div class="description">

		<div class="big-title">
			<p>{{ image.texte|raw  }}</p>
		</div>

		{{ include('front/fermetal/templates/modeles/partials/carousel/avis-block.html.twig') }}

		{{ include('front/fermetal/templates/modeles/partials/carousel/button-block.html.twig') }}

	</div>

	{{ include('front/fermetal/templates/partials/page/formulaire.html.twig') }}


</div>
