.nos-agence-modele.nos-agence-modele-page h4 {
    color: #0a111e;
}

@media (max-width: 1600px) {

    /** avec side bar **/
    .nos-agence-modele.nos-agence-modele-page .list-agences {
        padding: 5px;
    }

    .nos-agence-modele.nos-agence-modele-page .list-agences>div {
        width: calc((100% / 4) - 8px);
        height: auto;
    }

    .nos-agence-modele.nos-agence-modele-page .list-agences>div>div {
        padding: 20px 15px 20px;
    }

    .nos-agence-modele.nos-agence-modele-page .list-agences>div>div .titre {
        font: normal normal 700 16px/30px 'system-ui';
        margin-bottom: 15px;
    }

    .nos-agence-modele.nos-agence-modele-page .list-agences>div>div .item .item-content {
        font: normal normal 500 14px/26px 'system-ui';
        padding-left: 7px;
        margin-top: -4px;
    }

    .nos-agence-modele.nos-agence-modele-page .list-agences>div>div a.phone {
        width: 100%;
        padding: 7px 15px;
        font: normal normal 700 19px/30px 'system-ui';
    }
}

.nos-agence-modele.nos-agence-modele-page .list-agences>div>div a.phone {
    padding: 7px 17px;
}

.nos-agence-modele.nos-agence-modele-page .list-agences {
    padding: 0 1px;
}

@media(max-width:1350px) {
    .nos-agence-modele.nos-agence-modele-page .list-agences>div {
        width: calc((100% / 2) - 8px);
        margin-bottom: 13px;
    }
}

@media(max-width:576px) {
    .nos-agence-modele.nos-agence-modele-page .list-agences>div {
        width: 100%;
    }

    .nos-agence-modele.nos-agence-modele-page .sec-title .h2 {
        font-size: 31px !important;
        line-height: 1.4;
    }

    .nos-agence-modele.nos-agence-modele-page .content-description p {
        font: normal normal 500 16px/24px 'system-ui';
        text-align: center;
    }
}