{% extends 'admin/admin.html.twig' %}

{% block title %}
  Articles
{% endblock %}
{% block titreAdmin %}
  Articles
{% endblock %}

{% block contentAdmin %}
    {# header list #}
    {% include "admin/global/list/list-header.html.twig" with {'path':'app_post_new',params:{post_type:'post'},'titre':'Ajouter un article'} %}
    {# count list #}
    {% include "admin/global/list/list-count.html.twig" with {'vars':{'all':{'name':'Tous','count':20},'publish':{'name':'Publié','count':20}}} %}
    {# list content  #}
    <form id="filter" method="get">
        {# content search-box #}
        {% include "admin/global/list/search-box.html.twig" with {'titre':'Article'} %}
        {# list top  #}
        <div class="tablenav top">
            {# list actions grouper #}
            {% include "admin/global/list/actions-grouper.html.twig" with {'titre':'Article'} %}

            {# list filtrage  #}
            {% include "admin/global/list/filtrage.html.twig" with {'filters':[] } %}
            
            {# list pagination  #}
            {% include "admin/global/list/pagination.html.twig" with {'total_count':2109,'total_page':106,"current_page":1,'entity':'Post'} %}

            <br class="clear" />

        </div>
        
        {# list table  #}
        <table class="wp-list-table widefat fixed striped table-view-list posts">
            <caption class="screen-reader-text">Tableau trié par date. Décroissant.</caption>
            {# list table header #}
            {% set fields = [
                {name:'Titre',field_name:'post_title',method:'postTitle',sortable:true,type:'text'},
                {name:'Slug',field_name:'post_name',method:'postName',sortable:true,type:'text'},
                {name:'Parent',field_name:'post_parent',method:'postParent',sortable:false,type:'text'},
                {name:'Auteur / autrice',field_name:'author',sortable:false,type:'entity',field_to_display:'email',collection:false},
                {name:'Etat',field_name:'post_status',method:'postStatus',sortable:false,type:'text'},
                {name:'Catégories',field_name:'terms',method:'terms',sortable:false,type:'entity',field_to_display:'name_terms',collection:true},
                {name:'Date',field_name:'date_add',method:'dateAdd',sortable:true,type:'date'}
            ] %}
            <thead>
                {% include "admin/global/list/table/table-header.html.twig" with {'fields': fields} %}
            </thead>
            {# list table body #}
            <tbody id="the-list">
                {% include "admin/global/list/table/table-body.html.twig" with {'fields': fields,'list':posts,'entity_name':'modeles-post','is_view':false,'path_edit':'app_post_edit'} %}
            </tbody>
            {# list table footer #}
            <tfoot>
                {% include "admin/global/list/table/table-header.html.twig" with {'fields': fields} %}
            </tfoot>
        </table>

        <div class="tablenav bottom">
            {# list actions grouper #}
            {% include "admin/global/list/actions-grouper.html.twig" with {'titre':'modéles'} %}
            <div class="alignleft actions"></div>
            {# list pagination footer table  #}
            {% include "admin/global/list/pagination-footer.html.twig" with {'total_count':2109,'total_page':106,"current_page":1,'entity':'ModelesPost'} %}
            
            <br class="clear" />
        </div>
    </form>
    
{% endblock %}
