{% extends 'admin/admin.html.twig' %}

{% block title %}
	Ajouter un nouveau article
{% endblock %}
{% block titreAdmin %}
	Ajouter un nouveau article
{% endblock %}
{% block importmap %}
	{{ importmap(['app','post']) }}
{% endblock %}
{% block body %}
	{# loading chargement post data #}
	{% include "admin/post/_partial/loading-single.html.twig"  %}
	<div id="elementor-editor-wrapper">
		<aside id="elementor-panel" class="elementor-panel ui-resizable" aria-labelledby="elementor-panel-header-title">
			<div id="elementor-panel-inner">
				<div id="elementor-panel-state-loading">
					<i class="eicon-loading eicon-animation-spin"></i>
				</div>
                
                {# header menu edit #}
                {% include "admin/post/_partial/elementor-panel-header.html.twig"  %}

				<main id="elementor-panel-content-wrapper" class="ps ps--active-y">
					<div id="elementor-panel-page-elements">
                        {# tabs header list #}
                        {% include "admin/post/_partial/elementor-panel-navigation.html.twig"  %}

                        {# recherche modéles #}
                        {% include "admin/post/_partial/elements-search-area.html.twig"  %}

                        {# notice zone #}
                        {#% include "admin/post/_partial/notice-utulisation.html.twig"  %#}
						<div id="elementor-panel-elements-wrapper">
							<div id="elementor-panel-elements-categories">
								<div id="elementor-panel-categories">
                                    {# titre|slug|excerpt|template page | parent page #}
									<div id="elementor-panel-category-layout" class="elementor-panel-category">
										<button class="elementor-panel-heading elementor-panel-category-title">
											<span class="elementor-panel-heading-toggle">
												<i class="eicon" aria-hidden="true"></i>
											</span>
											<span class="elementor-panel-heading-title">Mise en page</span>

										</button>
										<div class="elementor-panel-category-items elementor-responsive-panel" style="display: none;">
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-container" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Conteneur</div>
													</div>
												</div>
											</div>
										</div>
									</div>
                                    {# catégories #}
									<div id="elementor-panel-category-basic" class="elementor-panel-category">
										<button class="elementor-panel-heading elementor-panel-category-title">
											<span class="elementor-panel-heading-toggle">
												<i class="eicon" aria-hidden="true"></i>
											</span>
											<span class="elementor-panel-heading-title">Basique</span>

										</button>
										<div class="elementor-panel-category-items elementor-responsive-panel" style="display: none;">
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-t-letter" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Titre</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-image" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Image</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-text" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Éditeur de texte</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-youtube" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Vidéo</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-button" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Bouton</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-divider" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Séparateur</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-spacer" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Espaceur</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-google-maps" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Google Maps</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-favorite" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Icône</div>
													</div>
												</div>
											</div>
										</div>
									</div>
                                    {# author page #}
									<div id="elementor-panel-category-pro-elements" class="elementor-panel-category">
										<button class="elementor-panel-heading elementor-panel-category-title">
											<span class="elementor-panel-heading-toggle">
												<i class="eicon" aria-hidden="true"></i>
											</span>
											<span class="elementor-panel-heading-title">Pro</span>

										</button>
										<div class="elementor-panel-category-items elementor-responsive-panel" style="display: none;">
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-loop-builder" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Loop Grid</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-carousel-loop" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Loop Carousel</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-post-list" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Posts</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-gallery-grid" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Portfolio</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-gallery-justified" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Gallery</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-form-horizontal" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Form</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-lock-user" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Login</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-slides" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Slides</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-nav-menu" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">WordPress Menu</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-animated-headline" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Animated Headline</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-image-hotspot" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Hotspot</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-price-list" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Price List</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-price-table" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Price Table</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-flip-box" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Flip Box</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-image-rollover" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Call to Action</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-media-carousel" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Media Carousel</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-testimonial-carousel" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Testimonial Carousel</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-review" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Reviews</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-table-of-contents" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Table of Contents</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-countdown" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Countdown</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-share" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Share Buttons</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-blockquote" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Blockquote</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-facebook-like-box" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Facebook Button</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-facebook-comments" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Facebook Comments</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-fb-embed" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Facebook Embed</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-fb-feed" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Facebook Page</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-document-file" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Template</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-lottie" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Lottie</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-code-highlight" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Code Highlight</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-video-playlist" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Video Playlist</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-paypal-button" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">PayPal Button</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-stripe-button" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Stripe Button</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-progress-tracker" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Progress Tracker</div>
													</div>
												</div>
											</div>
										</div>
									</div>
                                    {# post meta #}
									<div id="elementor-panel-category-general" class="elementor-panel-category">
										<button class="elementor-panel-heading elementor-panel-category-title">
											<span class="elementor-panel-heading-toggle">
												<i class="eicon" aria-hidden="true"></i>
											</span>
											<span class="elementor-panel-heading-title">Général</span>

										</button>
										<div class="elementor-panel-category-items elementor-responsive-panel" style="display: none;">
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-image-box" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Boîte d’image</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-icon-box" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Boîte d’icône</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-slider-push" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Carrousel d’images</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-gallery-grid" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Galerie basique</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-bullet-list" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Liste d’icône</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-counter" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Compteur</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-skill-bar" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Barre de progression</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-testimonial" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Témoignage</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-tabs" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Onglets</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-accordion" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Accordéon</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-toggle" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Va-et-vient</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-social-icons" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Icônes réseaux sociaux</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-alert" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Alerte</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-headphones" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">SoundCloud</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-shortcode" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Code court</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-code" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">HTML</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-anchor" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Ancre de menu</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-sidebar" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Colonne latérale</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-post-excerpt" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Lire plus</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-rating" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Notation</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-code" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Widget projets woocomerce</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordart" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Chemin du texte</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div id="elementor-panel-category-theme-elements" class="elementor-panel-category">
										<button class="elementor-panel-heading elementor-panel-category-title">
											<span class="elementor-panel-heading-toggle">
												<i class="eicon" aria-hidden="true"></i>
											</span>
											<span class="elementor-panel-heading-title">Site</span>

										</button>
										<div class="elementor-panel-category-items elementor-responsive-panel" style="display: none;">
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-site-logo" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Site Logo</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-site-title" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Site Title</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-archive-title" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Page Title</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-nav-menu" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">WordPress Menu</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-site-search" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Search Form</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-sitemap" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Sitemap</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-cart" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Menu Cart</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div id="elementor-panel-category-theme-elements-single" class="elementor-panel-category">
										<button class="elementor-panel-heading elementor-panel-category-title">
											<span class="elementor-panel-heading-toggle">
												<i class="eicon" aria-hidden="true"></i>
											</span>
											<span class="elementor-panel-heading-title">Unique</span>

										</button>
										<div class="elementor-panel-category-items elementor-responsive-panel" style="display: none;">
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-post-title" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Post Title</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-post-excerpt" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Post Excerpt</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-featured-image" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Featured Image</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-table-of-contents" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Table of Contents</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-person" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Author Box</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-comments" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Post Comments</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-post-navigation" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Post Navigation</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-post-info" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Post Info</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-progress-tracker" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Progress Tracker</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div id="elementor-panel-category-woocommerce-elements" class="elementor-panel-category">
										<button class="elementor-panel-heading elementor-panel-category-title">
											<span class="elementor-panel-heading-toggle">
												<i class="eicon" aria-hidden="true"></i>
											</span>
											<span class="elementor-panel-heading-title">WooCommerce</span>

										</button>
										<div class="elementor-panel-category-items elementor-responsive-panel" style="display: none;">
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-products" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Products</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-product-breadcrumbs" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">WooCommerce Breadcrumbs</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-woocommerce" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Custom Add To Cart</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-product-pages" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">WooCommerce Pages</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-product-categories" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Product Categories</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-cart" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Menu Cart</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-purchase-summary" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Purchase Summary</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-checkout" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Checkout</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-woo-cart" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Cart</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-my-account" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">My Account</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-woocommerce-notices" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">WooCommerce Notices</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div id="elementor-panel-category-hfe-widgets" class="elementor-panel-category">
										<button class="elementor-panel-heading elementor-panel-category-title">
											<span class="elementor-panel-heading-toggle">
												<i class="eicon" aria-hidden="true"></i>
											</span>
											<span class="elementor-panel-heading-title">Elementor Header &amp; Footer Builder</span>

										</button>
										<div class="elementor-panel-category-items elementor-responsive-panel" style="display: none;">
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="hfe-icon-retina-image" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Image retina</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="hfe-icon-copyright-widget" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Copyright</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="hfe-icon-navigation-menu" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Menu de navigation</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="hfe-icon-page-title" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Titre de la page</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="hfe-icon-site-title" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Titre du site</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="hfe-icon-site-tagline" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Slogan du site</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="hfe-icon-site-logo" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Logo du site</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="hfe-icon-search" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Recherche</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="hfe-icon-menu-cart" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Panier</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div id="elementor-panel-category-wordpress" class="elementor-panel-category">
										<button class="elementor-panel-heading elementor-panel-category-title">
											<span class="elementor-panel-heading-toggle">
												<i class="eicon" aria-hidden="true"></i>
											</span>
											<span class="elementor-panel-heading-title">WordPress</span>

										</button>
										<div class="elementor-panel-category-items elementor-responsive-panel" style="display: none;">
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Formulaire MailPoet</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Pages</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Calendrier</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Archives</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Sons</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Image</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Galerie</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Vidéo</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Méta</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Rechercher</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Texte</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Catégories</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Articles récents</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Commentaires récents</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Flux</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Nuage d’étiquettes</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Menu de navigation</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">HTML personnalisé</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Bloc</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Widget Akismet</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Ninja Forms Widget</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Panier</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Filtres de produit actifs</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Filtrer les produits par attribut</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Filtrer les produits par prix</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Catégories de produit</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Rechercher un produit</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Nuage d’étiquettes produits</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Liste des produits</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Liste Derniers produits consultés</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Liste Produits par note obtenue</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Avis récents sur les produits</div>
													</div>
												</div>
											</div>
											<div class="elementor-element-wrapper">
												<div class="elementor-element" draggable="true">

													<div class="icon">
														<i class="eicon-wordpress" aria-hidden="true"></i>
													</div>
													<div class="title-wrapper">
														<div class="title">Filtrer les produits par note obtenue</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</main>
                {# footer menu edit #}
                {% include "admin/post/_partial/elementor-panel-footer.html.twig"  %}
                {# panneau toggle #}
                {% include "admin/post/_partial/elementor-panneau-toggle.html.twig"  %}
			</div>
		</aside>
	</div>
{% endblock %}
