{% extends 'admin/admin.html.twig' %}

{% block title %}Modéles list{% endblock %}
{% block titreAdmin %}Modéles list{% endblock %}

{% block contentAdmin %}
	<a href="{{ path('app_post_modals_new') }}" class="page-title-action">Ajouter un modéle</a>
	<hr class="wp-header-end">
	<ul class="subsubsub">
		<li class="all">
			<a href="edit.php?post_type=post" class="current" aria-current="page">Tous
				<span class="count">(1)</span>
			</a>
			|
        </li>
		<li class="publish">
			<a href="edit.php?post_status=publish&amp;post_type=post">Publié
				<span class="count">(1)</span>
			</a>
		</li>
	</ul>
	<form id="posts-filter" method="get">
		<p class="search-box">
			<label class="screen-reader-text" for="post-search-input">Rechercher des modéles:</label>
			<input type="search" id="post-search-input" name="s" value="">
			<input type="submit" id="search-submit" class="button" value="Rechercher des articles">
		</p>
		<div class="tablenav top">

			<div class="alignleft actions bulkactions">
				<label for="bulk-action-selector-top" class="screen-reader-text">Sélectionnez l’action groupée</label>
				<select name="action" id="bulk-action-selector-top">
					<option value="-1">Actions groupées</option>
					<option value="edit" class="hide-if-no-js">Modifier</option>
					<option value="trash">Mettre à la corbeille</option>
				</select>
				<input type="submit" id="doaction" class="button action" value="Appliquer">
			</div>
			<div class="alignleft actions">
				<label for="filter-by-date" class="screen-reader-text">Filtrer par date</label>
				<select name="m" id="filter-by-date">
					<option selected="selected" value="0">Toutes les dates</option>
					<option value="202402">février 2024</option>
				</select>
				<label class="screen-reader-text" for="cat">Filtrer par catégorie</label>
				<select name="cat" id="cat" class="postform">
					<option value="0">Toutes</option>
					<option class="level-0" value="1">Non classé</option>
				</select>
				<input type="submit" name="filter_action" id="post-query-submit" class="button" value="Filtrer">
			</div>
			<div class="tablenav-pages one-page">
				<span class="displaying-num">1 élément</span>
				<span class="pagination-links">
					<span class="tablenav-pages-navspan button disabled" aria-hidden="true">«</span>
					<span class="tablenav-pages-navspan button disabled" aria-hidden="true">‹</span>
					<span class="paging-input">
						<label for="current-page-selector" class="screen-reader-text">Page actuelle</label><input class="current-page" id="current-page-selector" type="text" name="paged" value="1" size="1" aria-describedby="table-paging"><span class="tablenav-paging-text">
							sur
							<span class="total-pages">1</span>
						</span>
					</span>
					<span class="tablenav-pages-navspan button disabled" aria-hidden="true">›</span>
					<span class="tablenav-pages-navspan button disabled" aria-hidden="true">»</span>
				</span>
			</div>
			<br class="clear">
		</div>

        <table class="wp-list-table widefat fixed striped table-view-list posts">
            <caption class="screen-reader-text">Tableau trié par date. Décroissant.</caption>

            <thead>
                <tr>
                    <td id="cb" class="manage-column column-cb check-column"><input id="cb-select-all-1" type="checkbox">
                        <label for="cb-select-all-1">
                            <span class="screen-reader-text">Tout sélectionner</span>
                        </label>
                    </td>
                    <th scope="col" id="name" class="manage-column column-name column-primary sortable desc" abbr="Titre">
                        <a href="#?orderby=name&order=asc">
                            <span>Titre</span>
                            <span class="sorting-indicators">
                                <span class="sorting-indicator asc" aria-hidden="true"></span>
                                <span class="sorting-indicator desc" aria-hidden="true"></span>
                            </span>
                            <span class="screen-reader-text">Tri croissant</span>
                        </a>
                    </th>
                    <th scope="col" id="status" class="manage-column column-status">statut</th>
                    <th scope="col" id="image" class="manage-column column-image">image</th>
                    <th scope="col" id="utuliser-pour" class="manage-column column-utuliser-pour">utuliser-pour</th>
                    <th scope="col" id="date" class="manage-column column-date sorted desc" aria-sort="descending" abbr="Date">
                        <a href="#?orderby=date&order=asc">
                            <span>Date</span>
                            <span class="sorting-indicators">
                                <span class="sorting-indicator asc" aria-hidden="true"></span>
                                <span class="sorting-indicator desc" aria-hidden="true"></span>
                            </span>
                        </a>
                    </th>
                </tr>
            </thead>


            <tbody id="the-list">
                {% for i in range(0, 3)  %}
                    <tr id="post-{{i}}" class="iedit author-self level-0 post-1 type-post status-publish format-standard hentry category-non-classe">
                        <th scope="row" class="check-column">
                            <input id="cb-select-1" type="checkbox" name="post[]" value="1">
                            <label for="cb-select-1">
                                <span class="screen-reader-text">
                                    Sélectionner Bonjour tout le monde&nbsp;!
                                </span>
                            </label>
                            <div class="locked-indicator">
                                <span class="locked-indicator-icon" aria-hidden="true"></span>
                                <span class="screen-reader-text">
                                    «&nbsp;Bonjour tout le monde&nbsp;!&nbsp;» est verrouillé
                                </span>
                            </div>
                        </th>
                        <td class="title column-title has-row-actions column-primary page-title" data-colname="Titre">
                            <div class="locked-info">
                                <span class="locked-avatar"></span>
                                <span class="locked-text"></span>
                            </div>
                            <strong>
                                <a class="row-title" href="http://localhost/test_technique/wp-admin/post.php?post=1&amp;action=edit" aria-label="«&nbsp;Bonjour tout le monde&nbsp;!&nbsp;» (Modifier)">Bonjour tout le monde&nbsp;!</a>
                            </strong>

                            <div class="hidden" id="inline_1">
                                <div class="post_title">Bonjour tout le monde&nbsp;!</div>
                                <div class="post_name">bonjour-tout-le-monde</div>
                                <div class="post_author">1</div>
                                <div class="comment_status">open</div>
                                <div class="ping_status">open</div>
                                <div class="_status">publish</div>
                                <div class="jj">26</div>
                                <div class="mm">02</div>
                                <div class="aa">2024</div>
                                <div class="hh">20</div>
                                <div class="mn">33</div>
                                <div class="ss">07</div>
                                <div class="post_password"></div>
                                <div class="page_template">default</div>
                                <div class="post_category" id="category_1">1</div>
                                <div class="tags_input" id="post_tag_1"></div>
                                <div class="sticky"></div>
                                <div class="post_format"></div>
                            </div>
                            <div class="row-actions">
                                <span class="edit">
                                    <a href="http://localhost/test_technique/wp-admin/post.php?post=1&amp;action=edit" aria-label="Modifier «&nbsp;Bonjour tout le monde&nbsp;!&nbsp;»">Modifier</a>
                                    |
                                </span>
                                <span class="inline hide-if-no-js">
                                    <button type="button" class="button-link editinline" aria-label="Modifier rapidement «&nbsp;Bonjour tout le monde&nbsp;!&nbsp;» en ligne" aria-expanded="false">Modification&nbsp;rapide</button>
                                    |
                                </span>
                                <span class="trash">
                                    <a href="http://localhost/test_technique/wp-admin/post.php?post=1&amp;action=trash&amp;_wpnonce=9979d3e4cf" class="submitdelete" aria-label="Déplacer «&nbsp;Bonjour tout le monde&nbsp;!&nbsp;» dans la corbeille">Corbeille</a>
                                    |
                                </span>
                                <span class="view">
                                    <a href="http://localhost/test_technique/bonjour-tout-le-monde/" rel="bookmark" aria-label="Afficher «&nbsp;Bonjour tout le monde&nbsp;!&nbsp;»">Voir</a>
                                </span>
                            </div>
                            <button type="button" class="toggle-row">
                                <span class="screen-reader-text">Afficher plus de détails</span>
                            </button>
                        </td>
                        <td class="status column-status" data-colname="status">
                            active
                        </td>
                        <td class="image column-image" data-colname="image">
                            <span aria-hidden="true">—</span>
                            <span class="screen-reader-text">Aucune image</span>
                        </td>
                        <td class="utuliser-pour column-utuliser-pour" data-colname="Utuliser pour">
                            Post | Page
                        </td>
                        <td class="date column-date" data-colname="Date">Créer le <br>26/02/2024 à 20h33</td>
                    </tr>
                {% endfor %}
            </tbody>


            <tfoot>
                <tr>
                    <td id="cb" class="manage-column column-cb check-column"><input id="cb-select-all-1" type="checkbox">
                        <label for="cb-select-all-1">
                            <span class="screen-reader-text">Tout sélectionner</span>
                        </label>
                    </td>
                    <th scope="col" id="name" class="manage-column column-name column-primary sortable desc" abbr="Titre">
                        <a href="#?orderby=name&order=asc">
                            <span>Titre</span>
                            <span class="sorting-indicators">
                                <span class="sorting-indicator asc" aria-hidden="true"></span>
                                <span class="sorting-indicator desc" aria-hidden="true"></span>
                            </span>
                            <span class="screen-reader-text">Tri croissant</span>
                        </a>
                    </th>
                    <th scope="col" id="status" class="manage-column column-status">statut</th>
                    <th scope="col" id="image" class="manage-column column-image">image</th>
                    <th scope="col" id="utuliser-pour" class="manage-column column-utuliser-pour">Utuliser pour</th>
                    <th scope="col" id="date" class="manage-column column-date sorted desc" aria-sort="descending" abbr="Date">
                        <a href="#?orderby=date&order=asc">
                            <span>Date</span>
                            <span class="sorting-indicators">
                                <span class="sorting-indicator asc" aria-hidden="true"></span>
                                <span class="sorting-indicator desc" aria-hidden="true"></span>
                            </span>
                        </a>
                    </th>
                </tr>
            </tfoot>

        </table>
	</form>
{% endblock %}
