<table class="wp-list-table widefat fixed striped table-view-list posts">
	<caption class="screen-reader-text">Tableau trié par date. Décroissant.</caption>
	<thead>
		<tr>
			<td id="cb" class="manage-column column-cb check-column"><input id="cb-select-all-1" type="checkbox">
				<label for="cb-select-all-1">
					<span class="screen-reader-text">Tout sélectionner</span>
				</label>
			</td>
			<th scope="col" id="name" class="manage-column column-name column-primary sortable desc" abbr="Titre">
				<a href="#?orderby=name&order=asc">
					<span>Titre</span>
					<span class="sorting-indicators">
						<span class="sorting-indicator asc" aria-hidden="true"></span>
						<span class="sorting-indicator desc" aria-hidden="true"></span>
					</span>
					<span class="screen-reader-text">Tri croissant</span>
				</a>
			</th>
			<th scope="col" id="status" class="manage-column column-status">statut</th>
			<th scope="col" id="image" class="manage-column column-image">image</th>
            <th scope="col" id="utuliser-pour" class="manage-column column-utuliser-pour">utuliser-pour</th>
			<th scope="col" id="date" class="manage-column column-date sorted desc" aria-sort="descending" abbr="Date">
				<a href="#?orderby=date&order=asc">
					<span>Date</span>
					<span class="sorting-indicators">
						<span class="sorting-indicator asc" aria-hidden="true"></span>
						<span class="sorting-indicator desc" aria-hidden="true"></span>
					</span>
				</a>
			</th>
		</tr>
	</thead>

	<tbody id="the-list">
		<tr id="post-1" class="iedit author-self level-0 post-1 type-post status-publish format-standard hentry category-non-classe">
			<th scope="row" class="check-column">
				<input id="cb-select-1" type="checkbox" name="post[]" value="1">
				<label for="cb-select-1">
					<span class="screen-reader-text">
						Sélectionner Bonjour tout le monde&nbsp;!
					</span>
				</label>
				<div class="locked-indicator">
					<span class="locked-indicator-icon" aria-hidden="true"></span>
					<span class="screen-reader-text">
						«&nbsp;Bonjour tout le monde&nbsp;!&nbsp;» est verrouillé
					</span>
				</div>
			</th>
			<td class="title column-title has-row-actions column-primary page-title" data-colname="Titre">
				<div class="locked-info">
					<span class="locked-avatar"></span>
					<span class="locked-text"></span>
				</div>
				<strong>
					<a class="row-title" href="http://localhost/test_technique/wp-admin/post.php?post=1&amp;action=edit" aria-label="«&nbsp;Bonjour tout le monde&nbsp;!&nbsp;» (Modifier)">Bonjour tout le monde&nbsp;!</a>
				</strong>

				<div class="hidden" id="inline_1">
					<div class="post_title">Bonjour tout le monde&nbsp;!</div>
					<div class="post_name">bonjour-tout-le-monde</div>
					<div class="post_author">1</div>
					<div class="comment_status">open</div>
					<div class="ping_status">open</div>
					<div class="_status">publish</div>
					<div class="jj">26</div>
					<div class="mm">02</div>
					<div class="aa">2024</div>
					<div class="hh">20</div>
					<div class="mn">33</div>
					<div class="ss">07</div>
					<div class="post_password"></div>
					<div class="page_template">default</div>
					<div class="post_category" id="category_1">1</div>
					<div class="tags_input" id="post_tag_1"></div>
					<div class="sticky"></div>
					<div class="post_format"></div>
				</div>
				<div class="row-actions">
					<span class="edit">
						<a href="http://localhost/test_technique/wp-admin/post.php?post=1&amp;action=edit" aria-label="Modifier «&nbsp;Bonjour tout le monde&nbsp;!&nbsp;»">Modifier</a>
						|
					</span>
					<span class="inline hide-if-no-js">
						<button type="button" class="button-link editinline" aria-label="Modifier rapidement «&nbsp;Bonjour tout le monde&nbsp;!&nbsp;» en ligne" aria-expanded="false">Modification&nbsp;rapide</button>
						|
					</span>
					<span class="trash">
						<a href="http://localhost/test_technique/wp-admin/post.php?post=1&amp;action=trash&amp;_wpnonce=9979d3e4cf" class="submitdelete" aria-label="Déplacer «&nbsp;Bonjour tout le monde&nbsp;!&nbsp;» dans la corbeille">Corbeille</a>
						|
					</span>
					<span class="view">
						<a href="http://localhost/test_technique/bonjour-tout-le-monde/" rel="bookmark" aria-label="Afficher «&nbsp;Bonjour tout le monde&nbsp;!&nbsp;»">Voir</a>
					</span>
				</div>
				<button type="button" class="toggle-row">
					<span class="screen-reader-text">Afficher plus de détails</span>
				</button>
			</td>
			<td class="author column-author" data-colname="Auteur&nbsp;/ autrice">
				<a href="edit.php?post_type=post&amp;author=1">admin</a>
			</td>
			<td class="categories column-categories" data-colname="Catégories">
				<a href="edit.php?category_name=non-classe">Non classé</a>
			</td>
			<td class="tags column-tags" data-colname="Étiquettes">
				<span aria-hidden="true">—</span>
				<span class="screen-reader-text">Aucune étiquette</span>
			</td>
			<td class="comments column-comments" data-colname="Commentaires">
				<div class="post-com-count-wrapper">
					<a href="http://localhost/test_technique/wp-admin/edit-comments.php?p=1&amp;comment_status=approved" class="post-com-count post-com-count-approved">
						<span class="comment-count-approved" aria-hidden="true">1</span>
						<span class="screen-reader-text">1 commentaire</span>
					</a>
					<span class="post-com-count post-com-count-pending post-com-count-no-pending">
						<span class="comment-count comment-count-no-pending" aria-hidden="true">0</span>
						<span class="screen-reader-text">Aucun commentaire en attente</span>
					</span>
				</div>
			</td>
			<td class="date column-date" data-colname="Date">Publié<br>26/02/2024 à 20h33</td>
		</tr>
	</tbody>

	<tfoot>
		<tr>
			<td class="manage-column column-cb check-column"><input id="cb-select-all-2" type="checkbox">
				<label for="cb-select-all-2">
					<span class="screen-reader-text">Tout sélectionner</span>
				</label>
			</td>
			<th scope="col" class="manage-column column-title column-primary sortable desc" abbr="Titre">
				<a href="http://localhost/test_technique/wp-admin/edit.php?orderby=title&amp;order=asc">
					<span>Titre</span>
					<span class="sorting-indicators">
						<span class="sorting-indicator asc" aria-hidden="true"></span>
						<span class="sorting-indicator desc" aria-hidden="true"></span>
					</span>
					<span class="screen-reader-text">Tri croissant</span>
				</a>
			</th>
			<th scope="col" class="manage-column column-author">Auteur&nbsp;/ autrice</th>
			<th scope="col" class="manage-column column-categories">Catégories</th>
			<th scope="col" class="manage-column column-tags">Étiquettes</th>
			<th scope="col" class="manage-column column-comments num sortable desc" abbr="Commentaires">
				<a href="http://localhost/test_technique/wp-admin/edit.php?orderby=comment_count&amp;order=asc">
					<span>
						<span class="vers comment-grey-bubble" title="Commentaires" aria-hidden="true"></span>
						<span class="screen-reader-text">Commentaires</span>
					</span>
					<span class="sorting-indicators">
						<span class="sorting-indicator asc" aria-hidden="true"></span>
						<span class="sorting-indicator desc" aria-hidden="true"></span>
					</span>
					<span class="screen-reader-text">Tri croissant</span>
				</a>
			</th>
			<th scope="col" class="manage-column column-date sorted desc" aria-sort="descending" abbr="Date">
				<a href="http://localhost/test_technique/wp-admin/edit.php?orderby=date&amp;order=asc">
					<span>Date</span>
					<span class="sorting-indicators">
						<span class="sorting-indicator asc" aria-hidden="true"></span>
						<span class="sorting-indicator desc" aria-hidden="true"></span>
					</span>
				</a>
			</th>
		</tr>
	</tfoot>

</table>
