<div id="nav-menu-bulk-actions-bottom" class="bulk-actions">
  <label class="bulk-select-button" for="bulk-select-switcher-bottom">
    <input type="checkbox" id="bulk-select-switcher-bottom" name="bulk-select-switcher-top" class="bulk-select-switcher" />
    <span class="bulk-select-button-label">Sélection groupée</span>
  </label>
  <input type="button" class="deletion menu-items-delete disabled" value="Supprimer les éléments sélectionnés" />
  <div id="pending-menu-items-to-delete">
    <p>Liste des éléments de menu sélectionnés pour la suppression&nbsp;:</p>
    <ul></ul>
  </div>
</div>
