<div id="nav-menu-footer">
  <div class="major-publishing-actions">
    <div class="publishing-action">
      <button type="submit" name="save_menu12" id="save_menu_footer12" class="button button-primary button-large menu-save-12">Enregistrer le menu</button>
    </div>
    <!-- END .publishing-action -->

    <span class="delete-action"><a class="submitdelete deletion menu-delete" href="#?action=delete&amp;menu=74&amp;_wpnonce=725142a83a									">Supprimer le menu</a></span><!-- END .delete-action -->
  </div>
  <!-- END .major-publishing-actions -->
</div>
<!-- /#nav-menu-footer -->
