{{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="modal-fields">
        <input type="number" class="nombre-blocks" placeholder="nombre de block" />
        <button id="btn-blocks">ajouter block</button>
        <div class="blocks-container"></div>
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
