{% extends 'admin/admin.html.twig' %}

{% block title %}
  Médiathèque
{% endblock %}
{% block titreAdmin %}
  Médiathèque
{% endblock %}
{% block importmap %}
    {{ importmap(['app','mediatheque']) }}
{% endblock %}
{% block class_personalise %}upload-php{% endblock %}
{% block contentAdmin %}
  {# header list #}
  {% include 'admin/global/list/list-header.html.twig' with { path: 'app_media_new', titre: 'Ajouter un fichier média',class:'open-upload-inline' } %}
  <hr class="wp-header-end" />

  {# médiathéque content #}
  <div class="media-frame wp-core-ui mode-grid mode-edit hide-menu">
    <div class="media-frame-tab-panel">
        <div class="media-frame-router"></div>
        <div class="media-frame-content" data-columns="11">
            <div class="attachments-browser has-load-more hide-sidebar sidebar-for-errors">
                {# ulpoader error #}
                {% include "admin/media/_partials/uploader-error.html.twig"  %}

                {# ulpoader inline #}
                {% include "admin/media/_partials/uploader-inline.html.twig"  %}
                
                {# ulpoader filter #}
                {% include "admin/media/_partials/uploader-filter.html.twig"  %}

                <h2 class="media-views-heading screen-reader-text">Liste des médias</h2>
                <div class="attachments-wrapper">
                    <ul tabindex="-1" class="attachments ui-sortable ui-sortable-disabled" id="__attachments-view-48">
                        {% for image in images %}
                            {# ulpoader item #}
                            {% include "admin/media/_partials/uploader-item.html.twig" with {item:image}  %}
                        {% endfor %}
                    </ul>
                    <div class="load-more-wrapper">
                        <span class="spinner"></span><p class="load-more-count hidden"></p><button type="button" class="button load-more hidden button-primary">Charger la suite</button><button type="button" class="button load-more-jump hidden" disabled="">Aller au premier élément chargé</button>
                    </div>
                </div>
                
                <p class="no-media {% if images|length != 0 %}d-none{% endif %}">Aucun média n’a été trouvé.</p>
                
                {#{getImages(1)|raw}#}
            </div>
        </div>
    </div>
  </div>
  
{% endblock %}
