<div class="elementor-control elementor-control-link elementor-control-type-url elementor-label-block elementor-control-separator-default elementor-control-dynamic">
  <div class="elementor-control-content">
    <div class="elementor-control-field elementor-control-url-external-show">
      <label for="elementor-control-default-c1482" class="elementor-control-title">Page Parent</label>
      <div class="elementor-control-input-wrapper elementor-control-dynamic-switcher-wrapper">
        <select id="post-parent" data-setting="post-parent" class="selectpicker">
            <option value="">parent</option>
        </select>
      </div>
    </div>
  </div>
</div>
