<div class="elementor-control elementor-control-link elementor-control-type-url elementor-label-block elementor-control-separator-default elementor-control-dynamic">
  <div class="elementor-control-content">
    <div class="elementor-control-field elementor-control-url-external-show">
      <label for="elementor-control-default-c1482" class="elementor-control-title">Slug</label>
      <div class="elementor-control-input-wrapper elementor-control-dynamic-switcher-wrapper">
        <input 
        id="post-name" 
        class="elementor-control-tag-area elementor-input ui-autocomplete-input" 
        data-setting="post-name" 
        placeholder="Collez ou saisissez votre slug de page" 
        autocomplete="off" 
        value="{{post is defined and post.postName is defined  and is_post_admin is defined and is_post_admin ? post.postName :''}}"
        />
      </div>
    </div>
  </div>
</div>
