<li class="control-section accordion-section add-custom-links open" id="add-custom-links">
  <h3 class="accordion-section-title hndle" tabindex="0">Liens personnalisés <span class="screen-reader-text">Appuyez sur Retour ou Entrée pour ouvrir cette section</span></h3>
  <div class="accordion-section-content" style="display: block;">
    <div class="inside">
      <div class="customlinkdiv" id="customlinkdiv">
        <input type="hidden" value="custom" name="menu-item[-109][menu-item-type]" />
        <p id="menu-item-url-wrap" class="wp-clearfix">
          <label class="howto" for="custom-menu-item-url">URL</label>
          <input id="custom-menu-item-url" name="menu-item[-109][menu-item-url]" type="text" class="code menu-item-textbox form-required" placeholder="https://" />
        </p>

        <p id="menu-item-name-wrap" class="wp-clearfix">
          <label class="howto" for="custom-menu-item-name">Texte du lien</label>
          <input id="custom-menu-item-name" name="menu-item[-109][menu-item-title]" type="text" class="regular-text menu-item-textbox" />
        </p>

        <p class="button-controls wp-clearfix">
          <span class="add-to-menu">
            <input id="submit-customlinkdiv" name="add-custom-menu-item" type="submit" class="button submit-add-to-menu right" value="Ajouter au menu" />
            <span class="spinner"></span>
          </span>
        </p>
      </div>
      <!-- /.customlinkdiv -->
    </div>
    <!-- .inside -->
  </div>
  <!-- .accordion-section-content -->
</li>
