<li class="control-section accordion-section open add-post-type-page" id="add-post-type-page">
  <h3 class="accordion-section-title hndle" tabindex="0">Pages <span class="screen-reader-text">Appuyez sur Retour ou Entrée pour ouvrir cette section</span></h3>
  <div class="accordion-section-content">
    <div class="inside">
      <div id="posttype-page" class="posttypediv">
        <div class="tabs-panel" role="region" aria-label="Rechercher des pages" tabindex="0">
          <p class="quick-search-wrap">
            <label for="quick-search-posttype-page">Rechercher</label>
            <input type="search" class="quick-search" value="" name="quick-search-posttype-page" id="quick-search-posttype-page" />
            <span class="spinner"></span>
            <input type="submit" name="submit" id="submit-quick-search-posttype-page" class="button button-small quick-search-submit hide-if-js" value="Rechercher" />
          </p>

          <ul id="page-search-checklist" data-wp-lists="list:page" class="categorychecklist form-no-clear"></ul>
        </div>
        <!-- .posttype-tabs -->

        <div id="tabs-panel-posttype-page-most-recent" class="tabs-panel tabs-panel-active" role="region" aria-label="Les plus récentes" tabindex="0">
          <ul id="pagechecklist-most-recent" class="categorychecklist form-no-clear">
            <li>
              <label class="menu-item-title"><input type="checkbox" class="menu-item-checkbox" name="menu-item[-1][menu-item-object-id]" value="41880" />article test — <span class="post-state">Elementor</span></label><input type="hidden" class="menu-item-db-id" name="menu-item[-1][menu-item-db-id]" value="0" />
              <input type="hidden" class="menu-item-object" name="menu-item[-1][menu-item-object]" value="page" />
              <input type="hidden" class="menu-item-parent-id" name="menu-item[-1][menu-item-parent-id]" value="0" />
              <input type="hidden" class="menu-item-type" name="menu-item[-1][menu-item-type]" value="post_type" />
              <input type="hidden" class="menu-item-title" name="menu-item[-1][menu-item-title]" value="article test" />
              <input type="hidden" class="menu-item-url" name="menu-item[-1][menu-item-url]" value="https://fermetal.pro/article-test/" />
              <input type="hidden" class="menu-item-target" name="menu-item[-1][menu-item-target]" value="" />
              <input type="hidden" class="menu-item-attr-title" name="menu-item[-1][menu-item-attr-title]" value="" />
              <input type="hidden" class="menu-item-classes" name="menu-item[-1][menu-item-classes]" value="" />
              <input type="hidden" class="menu-item-xfn" name="menu-item[-1][menu-item-xfn]" value="" />
            </li>
          </ul>
        </div>

        <p class="button-controls wp-clearfix" data-items-type="posttype-page">
          <span class="list-controls hide-if-no-js">
            <input type="checkbox" id="page-tab" class="select-all" />
            <label for="page-tab">Tout sélectionner</label>
          </span>

          <span class="add-to-menu">
            <input type="submit" class="button submit-add-to-menu right" value="Ajouter au menu" name="add-post-type-menu-item" id="submit-posttype-page" />
            <span class="spinner"></span>
          </span>
        </p>
      </div>
      <!-- /.posttypediv -->
    </div>
    <!-- .inside -->
  </div>
  <!-- .accordion-section-content -->
</li>
