<nav class="nav-tab-wrapper wp-clearfix" aria-label="Menu secondaire">
    <a href="#menues" class="nav-tab nav-tab-active" aria-current="page">Modifier les menus</a>
    <a href="#emplacements" class="nav-tab">Gérer les emplacements</a>
</nav>