{% set image_selected = null %}
<div class="attachments-browser has-load-more">
	<div class="media-toolbar">
		<div class="media-toolbar-secondary">
			<span class="spinner"></span>
		</div>
		<div class="media-toolbar-primary search-form">
			<label for="media-search-input" class="media-search-input-label">Rechercher</label><input type="search" id="media-search-input" class="search"></div>
		<div class="media-bg-overlay" style="display: none;"></div>
	</div>
	{# ulpoader inline #}
	{% include "admin/media/_partials/uploader-inline.html.twig"  %}

	<h2 class="media-views-heading screen-reader-text">Liste des médias</h2>
	<div class="attachments-wrapper">
		<ul tabindex="-1" class="attachments ui-sortable ui-sortable-disabled" id="__attachments-view-2595">
			{% for image in images %}
				{% if image_selected is null and list_selectionner is defined and list_selectionner|length > 0 and image.id == list_selectionner[0] %}
					{% set image_selected = image %}
				{% endif %}
				{# ulpoader item #}
				{% include "admin/media/_partials/uploader-item.html.twig" with {item:image,list_selectionner:list_selectionner is defined ? list_selectionner : []}  %}
			{% endfor %}
		</ul>
	</div>
	<div class="media-sidebar">
		<div class="media-uploader-status" style="display: none;">
			<h2>Téléversement</h2>

			<div class="media-progress-bar">
				<div></div>
			</div>
			<div class="upload-details">
				<span class="upload-count">
					<span class="upload-index"></span>
					/
					<span class="upload-total"></span>
				</span>
				<span class="upload-detail-separator">–</span>
				<span class="upload-filename"></span>
			</div>
			<div class="upload-errors"></div>
			<button type="button" class="button upload-dismiss-errors">Ignorer les erreurs</button>
		</div>
		{% if image_selected is not null  %}
			{# ulpoader item #}
			{% include "admin/global/media/attachment-details.html.twig" with {item:image_selected}  %}
		{% endif %}
		<form class="compat-item"></form>
	</div>
</div>
