<div class="uploader-inline-content no-upload-message d-none text-center">
    <div class="upload-ui">
        <button type="button" class="browser button button-hero button-open-file" id="__wp-uploader-id-1" aria-labelledby="__wp-uploader-id-1 post-upload-info" style="position: relative; z-index: 1;">Sélectionnez des fichiers</button>
        <input type="file" class="d-none upload-image-input" multiple />
    </div>

    <div class="upload-inline-status"></div>

    <div class="post-upload-ui" id="post-upload-info">
        <p class="max-upload-size">Fichier autorisé ( PDF , PNG , JPG , JPEG , SVG , MP4 , GIF )</p>
        <p class="max-upload-size">Taille de fichier maximale pour le téléversement&nbsp;: 40 Mo.</p>
    </div>
</div>