<div class="alignleft actions bulkactions">
    <label for="bulk-action-selector-top" class="screen-reader-text">Sélectionnez l’action groupée</label>
    <select name="action" id="bulk-action-selector-top">
        <option value="-1">Actions groupées</option>
        <option value="trash">Mettre à la corbeille</option>
    </select>
    <input type="submit" id="doaction" class="button action" value="Appliquer" />
</div>