<ul class="subsubsub post-status">
    {% for key,item in vars %}
        <li class="{{key}}">
            <a href="#" {% if item.name == "Publié" %}class="current"{% endif %} aria-current="page">
                {{item.name}}
                <input type="hidden" value="{{item.name}}" />
                <span class="count">({{item.count}})</span>
            </a>
            {% if loop.last != true %}|{% endif %}
        </li>
    {% endfor %}
</ul>
