<div class="tablenav-pages">
    <span class="displaying-num">{{total_count}} éléments</span>
    <span class="pagination-links">
        <span class="tablenav-pages-navspan button disabled" aria-hidden="true">«</span>
        <span class="tablenav-pages-navspan button disabled" aria-hidden="true">‹</span>
        <span class="screen-reader-text">Page actuelle</span>
        <span id="table-paging" class="paging-input">
            <span class="tablenav-paging-text">{{current_page}} sur <span class="total-pages">{{total_page}}</span></span>
        </span>
        <a class="next-page button" href="#"><span class="screen-reader-text">Page suivante</span><span aria-hidden="true">›</span></a>
        <a class="last-page button" href="#"><span class="screen-reader-text">Dernière page</span><span aria-hidden="true">»</span></a>
    </span>
</div>