<p class="search-box">
    <label class="screen-reader-text" for="post-search-input">Rechercher des modéles:</label>
    <input type="search" id="search-input" name="s" value="" />
    <input type="submit" id="search-submit" class="button" value="Rechercher des {{titre}}" />
</p>