<div id="elementor-panel-elements-search-area">
    <div id="elementor-panel-elements-search-wrapper">
        <label for="elementor-panel-elements-search-input" class="screen-reader-text">Widget de recherche&nbsp;:</label>
        <input type="search" id="elementor-panel-elements-search-input" placeholder="Rechercher un widget…" autocomplete="off">
        <i class="eicon-search-bold" aria-hidden="true"></i>
    </div>
</div>