<header id="elementor-panel-header-wrapper">
    <div id="elementor-panel-header">
        <div id="elementor-panel-header-kit-back" class="elementor-header-button">
            <i class="elementor-icon eicon-chevron-left tooltip-target" aria-hidden="true" data-tooltip="Retour"></i>
            <span class="elementor-screen-only">Retour</span>
        </div>

        <button id="elementor-panel-header-menu-button" class="elementor-header-button">
            <i class="elementor-icon eicon-menu-bar tooltip-target" aria-hidden="true" data-tooltip="Menu"></i>
            <span class="elementor-screen-only">Menu</span>
        </button>
        <h2 id="elementor-panel-header-title" style="color: #fff;font-weight:bold;">FERMETAL</h2>
        <button id="elementor-panel-header-add-button" class="elementor-header-button">
            <i class="elementor-icon eicon-apps tooltip-target" aria-hidden="true" data-tooltip="Panneau des widgets"></i>
            <span class="elementor-screen-only">Panneau des widgets</span>
        </button>

        <div id="elementor-panel-header-kit-close" class="elementor-header-button">
            <i class="elementor-icon eicon-close tooltip-target" aria-hidden="true" data-tooltip="Fermer"></i>
            <span class="elementor-screen-only">Fermer</span>
        </div>
    </div>
</header>