<div id="elementor-panel-elements-navigation" class="elementor-panel-navigation">
    <button class="elementor-component-tab elementor-panel-navigation-tab elementor-active" data-tab="post-data">Post data</button>
    <button class="elementor-component-tab elementor-panel-navigation-tab" data-tab="contenu">Contenu</button>
    <button class="elementor-component-tab elementor-panel-navigation-tab" data-tab="SEO">SEO</button>
</div>