<footer id="elementor-panel-footer">
    <nav id="elementor-panel-footer-tools">
        {#<button id="elementor-panel-footer-settings" class="elementor-panel-footer-tool elementor-leave-open tooltip-target" data-tooltip="Réglages" original-title="">
            <i class="eicon-cog" aria-hidden="true"></i>
            <span class="elementor-screen-only">Réglages de Page</span>
        </button>
        <button id="elementor-panel-footer-navigator" class="elementor-panel-footer-tool tooltip-target" data-tooltip="Navigateur" original-title="">
            <i class="eicon-navigator" aria-hidden="true"></i>
            <span class="elementor-screen-only">Navigateur</span>
        </button>#}
        <button id="elementor-panel-footer-history" class="elementor-panel-footer-tool elementor-leave-open tooltip-target" data-tooltip="Historique" original-title="">
            <i class="eicon-history" aria-hidden="true"></i>
            <span class="elementor-screen-only">Historique</span>
        </button>
        {#<button id="elementor-panel-footer-responsive" class="elementor-panel-footer-tool elementor-toggle-state tooltip-target" data-tooltip="Mode responsive" original-title="">
            <i class="eicon-device-responsive" aria-hidden="true"></i>
            <span class="elementor-screen-only">
                Mode responsive
            </span>
        </button>#}
        <button id="elementor-panel-footer-saver-preview" class="elementor-panel-footer-tool tooltip-target" data-tooltip="Prévisualiser les modifications" original-title="">
            <span id="elementor-panel-footer-saver-preview-label">
                <i class="eicon-preview-medium" aria-hidden="true"></i>
                <span class="elementor-screen-only">Prévisualiser les modifications</span>
            </span>
        </button>
        <div id="elementor-panel-footer-saver-publish" class="elementor-panel-footer-tool">
            <button id="elementor-panel-saver-button-publish" class="elementor-button e-primary">
                <span class="elementor-state-icon">
                    <i class="eicon-loading eicon-animation-spin" aria-hidden="true"></i>
                </span>
                <span id="elementor-panel-saver-button-publish-label">Mettre à jour</span>
            </button>
        </div>
        <div id="elementor-panel-footer-saver-options" class="elementor-panel-footer-tool elementor-toggle-state">
            <button id="elementor-panel-saver-button-save-options" class="elementor-button e-primary tooltip-target" data-tooltip="Enregistrer les options" data-tooltip-offset="7" original-title="">
                <i class="eicon-chevron-right" aria-hidden="true"></i>
                <span class="elementor-screen-only">Enregistrer les options</span>
            </button>
            <div class="elementor-panel-footer-sub-menu-wrapper">
                <p class="elementor-last-edited-wrapper">
                    <span class="elementor-state-icon">
                        <i class="eicon-loading eicon-animation-spin" aria-hidden="true"></i>
                    </span>
                    <span class="elementor-last-edited">Dernier enregistrement le
                        <time>22 Mai, 00:16</time>
                        par admin</span>
                </p>
                <div class="elementor-panel-footer-sub-menu">
                    <div id="elementor-panel-footer-sub-menu-item-save-draft" class="elementor-panel-footer-sub-menu-item">
                        <i class="elementor-icon eicon-save" aria-hidden="true"></i>
                        <span class="elementor-title">Enregistrer le brouillon</span>
                    </div>
                    <div id="elementor-panel-footer-sub-menu-item-save-template" class="elementor-panel-footer-sub-menu-item">
                        <i class="elementor-icon eicon-folder" aria-hidden="true"></i>
                        <span class="elementor-title">Enregistrer comme modèle</span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</footer>