<div id="elementor-mode-switcher">
    <div id="elementor-mode-switcher-inner">
        <label for="elementor-mode-switcher-preview-input" id="elementor-mode-switcher-preview" title="Masquer le panneau (Ctrl + P)">
            <i class="eicon" aria-hidden="true" tabindex="0"></i>
            <span class="elementor-screen-only">Masquer le panneau (Ctrl + P)</span>
        </label>
        <input id="elementor-mode-switcher-preview-input" type="checkbox">
    </div>
</div>