<div id="elementor-loading" style="display: none;">
    <div class="elementor-loader-wrapper">
        <div class="elementor-loader" aria-hidden="true">
            <div class="elementor-loader-boxes">
                <div class="elementor-loader-box"></div>
                <div class="elementor-loader-box"></div>
                <div class="elementor-loader-box"></div>
                <div class="elementor-loader-box"></div>
            </div>
        </div>
        <div class="elementor-loading-title">Chargement</div>
    </div>
</div>