<div id="elementor-panel-elements-notice-area">
    <div id="elementor-panel-notice-wrapper">
        <div class="elementor-panel-notice elementor-panel-alert elementor-panel-alert-info">
            <span>Pour un accès facile, mettez les widgets que vous utilisez souvent en favoris avec un clic droit &gt; Ajouter aux favoris.<a href="#">J’ai compris</a>
            </span>
        </div>
    </div>
</div>