<div class="media-sidebar" style="display: block;">
  <div class="media-uploader-status errors" style="">
    <div class="upload-details">
      <span class="upload-count"><span class="upload-index"></span> / <span class="upload-total"></span></span>
      <span class="upload-detail-separator">–</span>
      <span class="upload-filename"></span>
    </div>
    <div class="upload-errors">
      <div class="upload-error">
        <span class="upload-error-filename">xampp-control.exe</span>
        <span class="upload-error-message">Désolé, vous n’avez pas l’autorisation de téléverser ce type de fichier.</span>
      </div>
    </div>
  </div>
</div>
