<div class="media-sidebar" >
  <div class="media-uploader-status errors" style="">
    <div class="upload-details">
      <span class="upload-count"><span class="upload-index"></span> / <span class="upload-total"></span></span>
      <span class="upload-detail-separator">–</span>
      <span class="upload-filename"></span>
    </div>
    <div class="upload-errors">
    </div>
  </div>
</div>
