{% set is_selected = false %}
{% if list_selectionner is defined and item.id in list_selectionner %}
    {% set is_selected = true %}
{% endif %}
<li tabindex="0" role="checkbox" aria-label="Capture" aria-checked="false" data-id="{{item.id}}" class="attachment save-ready {{is_selected ? 'selected order-1 details' :'' }}" >
    <div class="attachment-preview js--select-attachment type-image subtype-png landscape">
        <div class="thumbnail">
            <div class="centered">
                <img src="{{getImagesUrl(item,320)}}" draggable="false" alt="">
            </div>
            {% if item.mimeType == "application/pdf" or item.mimeType == "video/mp4"  %}
                <div class="filename">
					<div>{{item.urlImage}}</div>
				</div>
            {% endif %}
        </div>
    </div>
    <button type="button" class="check" tabindex="-1">
        <span class="media-modal-icon"></span>
        <span class="screen-reader-text">Désélectionner</span>
    </button>
</li>