<div class="uploader-inline hidden">
    <button class="close dashicons dashicons-no"><span class="screen-reader-text">Fermer le panneau de téléversement</span></button>

    <div class="uploader-inline-content no-upload-message">
        <div class="upload-ui">
            <button type="button" class="browser button button-hero button-open-file" id="__wp-uploader-id-1" aria-labelledby="__wp-uploader-id-1 post-upload-info" style="position: relative; z-index: 1;">Sélectionnez des fichiers</button>
            <input type="file" class="d-none upload-image-input" />
        </div>

        <div class="upload-inline-status"></div>

        <div class="post-upload-ui" id="post-upload-info">
            <p class="max-upload-size">Taille de fichier maximale pour le téléversement&nbsp;: 40 Mo.</p>
        </div>
    </div>
</div>