<li tabindex="0" role="checkbox" aria-label="Capture" aria-checked="false" data-id="{{item.id}}" class="attachment save-ready">
    <div class="attachment-preview js--select-attachment type-image subtype-png landscape">
        <div class="thumbnail">
            <div class="centered">
                <img src="{{getImagesUrl(item,320)}}" draggable="false" alt="">
            </div>
        </div>
    </div>
    <button type="button" class="check" tabindex="-1">
        <span class="media-modal-icon"></span>
        <span class="screen-reader-text">Désélectionner</span>
    </button>
</li>