<div style="">
	<div tabindex="0" class="media-modal wp-core-ui" role="dialog" aria-labelledby="media-frame-title">

		<div class="media-modal-content" role="document">
			<div class="edit-attachment-frame mode-select hide-router">
				<div class="edit-media-header">
					<button type="button" class="media-modal-close">
						<span class="media-modal-icon">
							<span class="screen-reader-text">Fermez la boite de dialogue</span>
						</span>
					</button>
				</div>
				<div class="media-frame-title">
					<h1>Détails du fichier joint</h1>
				</div>
				<div class="media-frame-content">
					<div class="attachment-details save-ready">
						<div class="attachment-media-view landscape">
							<h2 class="screen-reader-text">Aperçu du fichier joint</h2>
							<div class="thumbnail thumbnail-image">
								<img class="details-image" src="http://localhost/test_technique/wp-content/uploads/2024/05/Capture.png" draggable="false" alt="">
							</div>
						</div>
						<div class="attachment-info">
							<span class="settings-save-status" role="status">
								<span class="spinner"></span>
								<span class="saved">Enregistré.</span>
							</span>
							<div class="details">
								<h2 class="screen-reader-text">
									Détails
								</h2>
								<div class="uploaded">
									<strong>Téléversé le&nbsp;:</strong>
									10 mai 2024</div>
								<div class="uploaded-by">
									<strong>Téléversé par&nbsp;:</strong>

									<a href="http://localhost/test_technique/wp-admin/profile.php">admin</a>

								</div>

								<div class="uploaded-to">
									<strong>Téléversé vers&nbsp;:</strong>

									<a href="http://localhost/test_technique/wp-admin/post.php?post=11&amp;action=edit">home page</a>

								</div>

								<div class="filename">
									<strong>Nom du fichier&nbsp;:</strong>
									Capture.png</div>
								<div class="file-type">
									<strong>Type du fichier&nbsp;:</strong>
									image/png</div>
								<div class="file-size">
									<strong>Taille du fichier&nbsp;:</strong>
									1 Mo</div>


								<div class="dimensions">
									<strong>Dimensions&nbsp;:</strong>
									1909 pixels par 970
								</div>


								<div class="compat-meta"></div>
							</div>

							<div class="settings">


								<span class="setting alt-text has-description" data-setting="alt">
									<label for="attachment-details-two-column-alt-text" class="name">Texte alternatif</label>
									<textarea id="attachment-details-two-column-alt-text" aria-describedby="alt-text-description"></textarea>
								</span>
								<p class="description" id="alt-text-description">
									<a href="https://www.w3.org/WAI/tutorials/images/decision-tree" target="_blank" rel="noopener">Apprendre à décrire le but de l’image<span class="screen-reader-text">
											(ouvre un nouvel onglet)</span>
									</a>. Laissez vide si l’image est purement décorative.</p>

								<span class="setting" data-setting="title">
									<label for="attachment-details-two-column-title" class="name">Titre</label>
									<input type="text" id="attachment-details-two-column-title" value="Capture">
								</span>

								<span class="setting" data-setting="caption">
									<label for="attachment-details-two-column-caption" class="name">Légende</label>
									<textarea id="attachment-details-two-column-caption"></textarea>
								</span>
								<span class="setting" data-setting="description">
									<label for="attachment-details-two-column-description" class="name">Description</label>
									<textarea id="attachment-details-two-column-description"></textarea>
								</span>
								<span class="setting" data-setting="url">
									<label for="attachment-details-two-column-copy-link" class="name">URL du fichier&nbsp;:</label>
									<input type="text" class="attachment-details-copy-link" id="attachment-details-two-column-copy-link" value="http://localhost/test_technique/wp-content/uploads/2024/05/Capture.png" readonly="">
									<span class="copy-to-clipboard-container">
										<button type="button" class="button button-small copy-attachment-url" data-clipboard-target="#attachment-details-two-column-copy-link">Copier l’URL dans le presse-papiers</button>
										<span class="success hidden" aria-hidden="true">Copié&nbsp;!</span>
									</span>
								</span>
								<div class="attachment-compat">
									<form class="compat-item"></form>
								</div>
							</div>

							<div class="actions">

								<a class="view-attachment" href="http://localhost/test_technique/home-page/capture/">Voir le fichier média</a>


								<span class="links-separator">|</span>

								<a href="http://localhost/test_technique/wp-admin/post.php?post=475&amp;action=edit">
									Indiquer plus de détails</a>


								<span class="links-separator">|</span>
								<a href="http://localhost/test_technique/wp-content/uploads/2024/05/Capture.png" download="">Télécharger le fichier</a>


								<span class="links-separator">|</span>

								<button type="button" class="button-link delete-attachment">Supprimer définitivement</button>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="media-modal-backdrop"></div>
</div>
